@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

#post img {
  width: 45%;
  padding: 25px;
  height: auto;
}
@font-face {
  font-family: "Lovelo";
  src: url("./assets/fonts/Lovelo/Lovelo-Black.ttf");
}

.topbg {
  background-image: url("./assets/img/bglaptop.jpg");
}

#hero img {
  width: 350px;
}

.social {
  top: 40%;
}

/* #blogcards{
    width: 1800px;
} */
#nextLogo {
  top: 40%;
  right: 2%;
}

#blogviewbtn {
  bottom: 1%;
  right: 25%;
}

#scrollarrow{
    bottom: 20%;
    right: 50%;
    animation: move 1.5s ease-out infinite;
}

@keyframes move{
    0%{
        transform: translate(0%,0%);
    }
    50%{
        transform: translate(0%,10%);
    }
    100%{
        transform: translate(0%,0%);
    }
}