#post img{
    width: 45%;
    padding: 25px;
    height: auto;
}
@font-face{
    font-family: 'Lovelo';
    src: url('./assets/fonts/Lovelo/Lovelo-Black.ttf');
}

.topbg {
    background-image: url("./assets/img/bglaptop.jpg")
  }

#hero img{
    width: 350px;
}